//Colors
$background-color: #faf9f4;
$primary-color: #ecc200;
$gray: #71706c;
$light-gray: #cccccc;
$white: #ffffff;
$black: #292929;

//Effects
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

//Sizes
$size1: 5px;
$size2: 10px;
$size3: 15px;
$size4: 20px;
$size5: 25px;
$size6: 30px;
$size7: 50px;
$size8: 80px;
$size9: 15px;